@use "variables" as *;

.working-hours {
  h2 {
    color: $text;
    font-weight: $fw-bold;
  }

  .card {
    border-radius: $radius-lg;
    box-shadow: 0 8px 20px $shadow;
  }

  i {
    color: $primary;
  }

  h5 {
    font-weight: $fw-bold;
    margin-top: 1rem;
  }

  p {
    color: $gray;
    margin-bottom: 0;
  }
}

.contact-form {
  h2 {
    color: $text;
    font-weight: $fw-bold;
  }

  .card {
    border-radius: $radius-lg;
    box-shadow: 0 8px 20px $shadow;
  }

  .form-label {
    font-weight: $fw-medium;
    margin-bottom: 0.5rem;
  }

  textarea {
    resize: none;
    min-height: 180px;
  }

  .product-btn {
    background-color: $white;
    color: $primary;
    border: 2px solid $primary;
    border-radius: $radius;

    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    font-weight: $fw-medium;

    transition: $transition;

    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
  }
}
