@use "variables" as *;

.hero {
  margin-top: 90px;

  .carousel-item {
    position: relative;

    img {
      height: 500px;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $overlay;
      z-index: 1;
    }
  }

  .carousel-caption {
    z-index: 2;

    h5,
    p {
      color: $white;
    }
  }
}

html[dir="rtl"] {
  .carousel-control-prev {
    right: 0;
    left: auto;
  }

  .carousel-control-next {
    left: 0;
    right: auto;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    transform: scaleX(-1);
  }
}
