@use "variables" as *;

.cart-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  padding: 0.65rem 1.4rem;
  font-size: 1rem;

  border: 2px solid $primary;
  color: $primary;
  transition: $transition;

  i {
    font-size: 1.2rem;
    line-height: 1;
    color: inherit;
  }

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }

  &:focus {
    box-shadow: none;
  }
}

.nav-link {
  color: $text;
  padding: 10px 18px;
  border-radius: $radius;
  transition: $transition;

  &:hover,
  &.active {
    background-color: $primary;
    color: $white !important;
    transform: scale(1.05);
  }
}

.language-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 95px;
  padding: 0.65rem 1.4rem;
  font-size: 1rem;

  transition: $transition;
}

html[dir="ltr"] {
  .language-btn {
    margin-right: 0.5rem;
  }
}

html[dir="rtl"] {
  .language-btn {
    margin-left: 0.5rem;
  }
}
